@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "pages/home";
$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$color-gray-dark: #777;
$color-white: #fff;
$color-black: #000;



*,
*::after *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 10px;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px;*/
    line-height: 1.7;
    color: $color-gray-dark;
    padding: 3rem;

    box-sizing: border-box;
}

.header {
    height: 95vh;
    position: relative;
    background-image: linear-gradient(to right bottom,
            rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)),
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    &__logoBox {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo_icon {
        height: 3.5rem;
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

    }
}



.primary-heading {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--first {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation-name: moveLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        /*animation-iteration-count: 3;
        animation-delay: 2s;*/
    }

    &--last {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.35rem;
        animation: moveRight 1s ease-out;
    }

    &--heading {
        display: block;
        font-size: 1.8rem;
        font-weight: 600;
        letter-spacing: 1rem;
        animation: moveAround 8s ease-out infinite;

    }
}

/* button design */

.btn {

    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4.5rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: 1.6rem;
    }

    &--white {
        background-color: $color-white;
        color: $color-gray-dark;

        &::after {
            background-color: $color-white;
        }
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 .1rem 2rem rgba($color-black, 0.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-black, 0.2);
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }



    &--animated {
        animation: moveBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }

}


@keyframes moveLeft {
    0% {
        opacity: 0;
        transform: translate(-10rem);
    }

    80% {
        transform: translateX(1.2rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}


@keyframes moveRight {
    0% {
        opacity: 0;
        transform: translate(10rem);
    }

    80% {
        transform: translateX(-1.2rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveAround {
    0% {
        opacity: 0;
        transform: translateX(-100rem);
    }

    100% {
        opacity: 1;
        transform: translateX(100rem);
    }
}


@keyframes moveBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}